<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Currency Converter</title>
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Currency Converter</h1>
    </div>
</div>

<form action="#" th:action="@{/convert}" th:object="${conversion}" method="POST">

    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <span>From: </span>
                <div class="dropdown" style="width 150px">
                    <select th:field="*{from}" class="btn btn-secondary dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option th:value="0">Choose:</option>
                        <option th:each="currency : ${fromCurrency}" th:value="${currency.name}"
                                th:text="${currency.name}"></option>
                    </select>
                </div>
                <span>To: </span>
                <div class="dropdown" style="width 150px">
                    <select th:field="*{to}" class="btn btn-secondary dropdown-toggle" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option th:value="0">Choose:</option>
                        <option th:each="currency : ${toCurrency}" th:value="${currency.name}"
                                th:text="${currency.name}"></option>

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <br>
                <div>
                    <input type="number" step=".01" th:field="*{value}" placeholder="Amount" required/>
                </div>
                <br>
                <div>
                    <input class="btn btn-success" name="submit" type="submit" value="Convert"/>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Result:</h2>

                <h3><span th:text="*{result}"></span></h3>
            </div>


        </div>

    </div>

</form>


</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
